upboard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(190, 190, 190);
    color: black;
    font-family: Impact;
}
a{
    text-decoration: none;
}
textarea{
    background-color: rgb(190, 190, 190);
    border-radius: 0%;
    border: 0px;
    width: 100%;
}
button{
    background-color: rgb(230, 25, 25);
    border-radius: 0%;
    border:0px;
}
.litem{
    color:black;
    background-color: rgb(230,230,230);
    width: 100%;
}
downboard{
    position: fixed;
    top: 90%;
    left: 0;
    width: 100%;
    background-color: rgb(190, 190, 190);
    color: black;
    font-family: Impact;
}
pgend{
    width: 100%;
    background-color: rgb(190, 190, 190);
}
redbox{
    width: 100%;
    background-color: red;
    border-color: brown;
    color: white;
    border: 5px solid;
    display: block;
}